.objectWrapper {
  display: flex;
  flex-wrap: wrap;
}

.object {
  display: flex;
  width: 100%;
  margin-bottom: 44px;
}

.objectImageWrapper {
  flex: 1;
}
.objectImage {
  width: 100%;
}

.objectOverview {
  flex: 1;
  padding: 8px 32px;
}
.objectTitle.objectTitle {
  font-size: 28px;
  font-weight: bold;
}
.objectArtist.objectArtist {
  font-size: 13px;
  text-align: right;
}