.objectWrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
}

.object {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
}

@media screen and (min-width: 960px) {
  .object {
    width: calc((100% - 96px) / 4);
  }

  .object:not(:nth-child(4n)) {
    margin-right: 32px;
  }
}

@media screen and (max-width: 960px) {
  .object {
    width: calc((100% - 40px) / 3);
  }

  .object:not(:nth-child(3n)) {
    margin-right: 20px;
  }
}

@media screen and (max-width: 560px) {
  .object {
    width: calc(50% - 20px);
  }

  .object:nth-child(2n+1) {
    margin-right: 40px;
  }

  .object:nth-child(2n) {
    margin-right: 0;
  }
}

.objectImageWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.objectImage {
  width: 100%;
  border-radius: 2px;
}

.objectOverview {
  border-left: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 0 0 0 4px;
  padding: 16px 0 24px 16px;
  margin-top: 16px;
}

.objectOverviewTitle {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 1px;
}

.objectOverviewItem {
  color: #8e8e8e;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 8px;
}
