.l-app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.l-app-left-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px 24px;

  &-user,
  &-links,
  &-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-links > i,
  &-settings > i {
    font-size: 20px;
    margin-top: 48px;
    color: #e2e0f8;

    &.is-active,
    &:hover {
      color: #746af4;
    }
  }
}

.l-app-container {
  background-color: #f6f6fc; 
  flex-grow: 1;
  align-items: center;
  padding: 16px 40px;
}
