.SidePane {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px 24px;
}

.SidePaneItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SidePaneItems:hover {
  color: #746af4
}

.SidePaneItems > svg {
  font-size: 20px;
  margin-top: 48px;
  color: #e2e0f8;
}
